<!DOCTYPE html>

<head>
  <title>wAR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <title>Exploration in AR</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
  </head>
  <body class="landing">

    <!-- Page Wrapper -->
      <div id="page-wrapper">

        <!-- Header -->
          <header id="header" class="alt">
            <h1><a href="index.html">W.A.R.</a></h1>
            <nav id="nav">
              <ul>
                <li class="special">
                  <a href="#menu" class="menuToggle"><span>Menu</span></a>
                  <div id="menu">
                    <ul>
                      <li><a href="/">Home</a></li>
                      <% if current_user %>
                      <li><%= current_user.name %></li>
                      <li><%= link_to "Logout", '/logout' %></li>
                      <% else %>
                      <li><%= link_to 'Login', '/login' %></li>
                      <li><%= link_to 'Signup', '/signup' %></li>
                      <% end %>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </header>

          <script type="text/javascript">
            $('#menu')
              .append('<a href="#menu" class="close"></a>')
              .appendTo($('body'))
              .panel({
                delay: 500,
                hideOnClick: true,
                hideOnSwipe: true,
                resetScroll: true,
                resetForms: true,
                side: 'right',
                target: $('body'),
                visibleClass: 'is-menu-visible'
              });
          </script>

        <!-- Banner -->
          <section id="banner">
            <div class="inner">
              <h2>wAR</h2>
              <p>War Alternate Reality</p>
              <ul class="actions">
                <li><a href="play" class="button special">Activate</a></li>
                <div id="logic-activate" style="display:none">
                  <% if current_user %>
                    Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
                  <% else %>
                      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
                  <% end %>

                  <%= yield %>
                </div>
              </ul>

            </div>
            <a href="#two" class="more scrolly">Meet the Team</a>
            </section>
          <section id="two" class="wrapper style1 special">
            <section class="spotlight">
              <div class="image"><img src="../assets/images/pic01.jpg" alt=""></div><div class="content">
              <h2>Jose, Nathan, Jeremy, and James</h2>
              <p>Find us on Github.</p>
              </div>
            </section>

          <section id="three" class="wrapper style3 special">
            <div class="inner">
              <header class ="major">
                <h2>How it works</h2>
                <p>cardAR is a browswer based augmented reality view for traditional playing cards. It's a proof of concept ultimately only limited by your imagination.</p>
                <ul class="features">
                  <li class="features">
                      <h3>Project AR</h3>
                      <p>Uses physical markers to define environment</p>
                      <p>It takes the physical markers and renders them in AR 3D</p>
                  </li>
                  <li class="features">
                    <h3>Tech Stack, Libraries and Platform</h3>
                    <p>Backend: Ruby on Rails</p>
                    <p>Frontend: JavaScript, jQuery, HTML5 Canvas</p>
                    <p>AR Rendering: THREE.js, Threex.webar</p>
                  </li>
                </ul>
              </header>
            </div>
            
          </section>
        

        <!-- Footer -->
          <!-- <footer id="footer">
            <ul class="icons">
              <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
              <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
            
          </footer> -->

      </div>

    <!-- Scripts -->
      
</body>
