<!DOCTYPE html>

<head>
  <title>wAR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <title>Exploration in AR</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

  </head>
  <body class="landing">

    <!-- Page Wrapper -->
      <div id="page-wrapper">

        <!-- Header -->
          <header id="header" class="alt">
            <h1><a href="index.html">W.A.R.</a></h1>
            <nav id="nav">
              <ul>
                <li class="special">
                  <a href="#menu" class="menuToggle"><span>Menu</span></a>
                  <div id="menu">
                    <ul>
                      <li><a href="/">Home</a></li>
                      <% if current_user %>
                      <li><%= current_user.name %></li>
                      <li><%= link_to "Logout", '/logout' %></li>
                      <% else %>
                      <li><%= link_to 'Login', '/login' %></li>
                      <li><%= link_to 'Signup', '/signup' %></li>
                      <% end %>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </header>

          <script type="text/javascript">
            $('#menu')
              .append('<a href="#menu" class="close"></a>')
              .appendTo($('body'))
              .panel({
                delay: 500,
                hideOnClick: true,
                hideOnSwipe: true,
                resetScroll: true,
                resetForms: true,
                side: 'right',
                target: $('body'),
                visibleClass: 'is-menu-visible'
              });
          </script>

        <!-- Banner -->
          <section id="banner">
            <div class="inner">
              <h2>wAR</h2>
              <p>War Alternate Reality</p>
              <ul class="actions">
                <li><a href="play" class="button special">Activate</a></li>
                <div id="logic-activate" style="display:none">
                  <% if current_user %>
                    Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
                  <% else %>
                      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
                  <% end %>

                  <%= yield %>
                </div>
              </ul>

            </div>
            <a href="#two" class="more scrolly">Meet the Team</a>
            </section>
          <section id="two" class="wrapper style1 special">
            <section class="icons major">
              <!-- <div class="image"><img src="../assets/images/pic01.jpg" alt=""></div> --><div class="content">
              <h2>
                <span class="animate-image" ><img src="../assets/jose_github.jpg" alt=""></span>
                <span class="animate-image"><img src="../assets/nate_github.jpg"></span>
                <span class="animate-image"><img src="../assets/jeremy_github.png"></span>
                <span class="animate-image"><img src="../assets/james_github.png"></span>
                <br><br>
                <span><a href="https://github.com/josejuanisaac">Jose</a>, <a href="https://github.com/xenonate">Nathan</a>, <a href="https://github.com/jermspeaks">Jeremy</a>, and <a href="https://github.com/jato">James</a></span>
              </h2>
              <p>Find us on Github.</p>
              </div>
            </section>

          <section id="three" class="wrapper style3 special">
            <div class="inner">
              <header class ="major">
                <h2>How it works</h2>
                <p>cardAR is a browswer based augmented reality view for traditional playing cards. It's a proof of concept ultimately only limited by your imagination.</p>
                <ul class="features">
                  <li class="features">
                      <h3>Project AR</h3>
                      <p>Uses physical markers to define environment</p>
                      <p>It takes the physical markers and renders them in AR 3D</p>
                  </li>
                  <li class="features">
                    <h3>Tech Stack, Libraries and Platform</h3>
                    <p>Backend: Ruby on Rails</p>
                    <p>
                      <span>Frontend: </span>
                      <span>JavaScript, </span>
                      <span>jQuery, </span>
                      <span>HTML5 Canvas</span>
                    </p>
                    <p>
                      <span>AR &amp; AR Rendering: </span>
                      <span><a href='http://opencv.org' target='_blank'>OpenCV</a>, </span>
                      <span><a href='http://www.uco.es/investiga/grupos/ava/node/26' target='_blank'>ArUco</a>, </span>
                      <span><a href='https://github.com/jcmellado/js-aruco' target='_blank'>JS-ArUco</a>, </span>
                      <span><a href='http://threejs.org/' target='_blank'>THREE.js</a>, </span>
                      <span><a href='https://github.com/jeromeetienne/threex.webar' target='_blank'>Threex.webar</a></span>
                    </p>
                  </li>
                </ul>
              </header>
            </div>

          </section>

          <!-- <a href="https://github.com/jato/wAR">
            <img
              style="position: absolute; top: 0; left: 0; border: 0;"
              src="https://camo.githubusercontent.com/8b6b8ccc6da3aa5722903da7b58eb5ab1081adee/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6f72616e67655f6666373630302e706e67"
              alt="Fork me on GitHub"
              data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png"/>
          </a>
 -->

        <!-- Footer -->
          <!-- <footer id="footer">
            <ul class="icons">
              <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
              <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>

          </footer> -->

      </div>

    <!-- Scripts -->

</body>
